## Wrangle "@weratedogs" twitter data
The objective of this document is to wrangle the tweet archive of @weratedogs user on twitter. To inspect the data and augment it with other sources of information including by fetching data from twitter API. Once the data is gathered from all sources, the data will be inspected and cleaned.

In [99]:
# import necessary libraries
import pandas as pd
import numpy as np
import requests # to make http requests
import tweepy # to work with the twitter api

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [65]:
# file and URL names to process
twitter_archive_file = 'twitter-archive-enhanced.csv'
image_predictions_url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
tweets_file = 'tweet_json.txt'

### Gather
Get data from the initially known data sources

In [5]:
# get data from WeRateDogs twitter archive
twitter_archive = pd.read_csv(twitter_archive_file)
twitter_archive.head(1)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None

In [12]:
# get tweet image predictions data from url
image_predictions = pd.read_csv(image_predictions_url, sep='\t')
image_predictions.head(1)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True

### Assess
Understand the obtained data a little before fetching the tweets

In [13]:
twitter_archive.shape

(2356, 17)

In [15]:
image_predictions.shape

(2075, 12)

### Gather
__`twitter_archive` table__ has more lines of data, hence let us fetch the tweets based on this

In [29]:
# get keys and secrets from the environment
import os
consumer_key = os.environ['TWITTER_API_KEY']
consumer_secret = os.environ['TWITTER_API_SECRET']
access_token = os.environ['TWITTER_ACCESS_TOKEN']
access_token_secret = os.environ['TWITTER_ACCESS_SECRET']

In [86]:
# Initialize the tweepy library 
import tweepy
import json
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [76]:
# get the full tweet json for each tweet and write to a file one line per tweet
with open(tweets_file, 'w') as file:
    # statuses_lookup can fetch 100 tweets at a time
    # take 100 tweets at a time from twitter_archive
    for index in range(0, len(twitter_archive), 100):
        id_list = twitter_archive.tweet_id.iloc[index:index+100]
        try:
            statuses = api.statuses_lookup(id_list.array)
            for status in statuses:
                file.write(json.dumps(status._json) + '\n')
        except Exception as e:
            print(str(e))

In [85]:
# read this data into a dataframe
detailed_tweets = pd.read_json(tweets_file, lines=True)
detailed_tweets.head(1)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
0,NaN,NaN,2017-06-18 16:57:37,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,18150,False,NaN,876484053909872640,876484053909872640,...,NaN,NaN,NaN,2268,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Benedict. He wants to thank you for th...,True,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

### Assess

#### Analyze the `twitter_archive` data

In [77]:
twitter_archive.sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
496,813157409116065792,NaN,NaN,2016-12-25 23:00:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Layla. It is her first Christmas. She ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/813157409...,12,10,Layla,None,None,None,None
720,783347506784731136,NaN,NaN,2016-10-04 16:46:14 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Kenny. He just wants to...,6.742918e+17,4.196984e+09,2015-12-08 18:17:56 +0000,https://twitter.com/dog_rates/status/674291837...,11,10,Kenny,None,None,None,None
1109,733828123016450049,NaN,NaN,2016-05-21 01:13:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Terry. The harder you hug him the fart...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/733828123...,10,10,Terry,None,None,None,None
916,756998049151549440,NaN,NaN,2016-07-23 23:42:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. He's an English Creamschnitzel...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/756998049...,11,10,Oliver,None,None,None,None
1332,705475953783398401,NaN,NaN,2016-03-03 19:32:29 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Zara. She found a sandal and coul...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/705475953...,12,10,Zara,None,None,None,None
1596,686286779679375361,NaN,NaN,2016-01-10 20:41:33 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",When bae calls your name from across the room....,NaN,NaN,NaN,https://vine.co/v/iMZx6aDbExn,12,10,None,None,None,None,None
1623,684902183876321280,NaN,NaN,2016-01-07 00:59:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Perry. He's an Augustus Gloopster. Ver...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684902183...,11,10,Perry,None,None,None,None
725,782722598790725632,NaN,NaN,2016-10-02 23:23:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Penny. She fought a bee and the bee wo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/782722598...,10,10,Penny,None,None,None,None
1557,688804835492233216,NaN,NaN,2016-01-17 19:27:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you stumble but recover quickly cause you...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/688804835...,12,10,None,None,None,None,None
2165,669367896104181761,NaN,NaN,2015-11-25 04:11:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Chip. Chip's pretending to be choked. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669367896...,10,10,Chip,None,None,None,None

In [88]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [90]:
twitter_archive.describe()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,retweeted_status_id,retweeted_status_user_id,rating_numerator,rating_denominator
count,2.356000e+03,7.800000e+01,7.800000e+01,1.810000e+02,1.810000e+02,2356.000000,2356.000000
mean,7.427716e+17,7.455079e+17,2.014171e+16,7.720400e+17,1.241698e+16,13.126486,10.455433
std,6.856705e+16,7.582492e+16,1.252797e+17,6.236928e+16,9.599254e+16,45.876648,6.745237
min,6.660209e+17,6.658147e+17,1.185634e+07,6.661041e+17,7.832140e+05,0.000000,0.000000
25%,6.783989e+17,6.757419e+17,3.086374e+08,7.186315e+17,4.196984e+09,10.000000,10.000000
50%,7.196279e+17,7.038708e+17,4.196984e+09,7.804657e+17,4.196984e+09,11.000000,10.000000
75%,7.993373e+17,8.257804e+17,4.196984e+09,8.203146e+17,4.196984e+09,12.000000,10.000000
max,8.924206e+17,8.862664e+17,8.405479e+17,8.874740e+17,7.874618e+17,1776.000000,170.000000

In [126]:
twitter_archive[twitter_archive.rating_numerator < 10].sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2255,667773195014021121,NaN,NaN,2015-11-20 18:35:10 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",This is a rare Hungarian Pinot named Jessiga. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667773195...,8,10,a,None,None,None,None
1861,675483430902214656,NaN,NaN,2015-12-12 01:12:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Rare shielded battle dog here. Very happy abou...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/675483430...,5,10,None,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
1735,679729593985699840,NaN,NaN,2015-12-23 18:25:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Hunter. He was playing with his ball m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679729593...,8,10,Hunter,None,None,None,None
1756,678767140346941444,NaN,NaN,2015-12-21 02:41:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mia. She makes awful decisions. 8/10 h...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/678767140...,8,10,Mia,None,None,None,None
1484,693231807727280129,NaN,NaN,2016-01-30 00:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...","This is Bodie. He's not proud of what he did, ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/693231807...,9,10,Bodie,None,None,None,None
1978,672984142909456390,NaN,NaN,2015-12-05 03:41:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very happy pup here. Always smiling. Loves his...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/672984142...,9,10,None,None,None,None,None
2302,667012601033924608,NaN,NaN,2015-11-18 16:12:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Klevin. He laughs a lot. Very cool dog...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667012601...,9,10,Klevin,None,None,None,None
1803,676948236477857792,NaN,NaN,2015-12-16 02:13:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Karl. Karl thinks he's slick. 6/10 sne...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676948236...,6,10,Karl,None,None,None,None
2242,667911425562669056,NaN,NaN,2015-11-21 03:44:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Wow. Armored dog here. Ready for battle. Face ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667911425...,5,10,None,None,None,None,None

In [112]:
twitter_archive.iloc[315].expanded_urls

'https://twitter.com/dog_rates/status/835152434251116546/photo/1,https://twitter.com/dog_rates/status/835152434251116546/photo/1,https://twitter.com/dog_rates/status/835152434251116546/photo/1'

In [120]:
twitter_archive.iloc[2317].expanded_urls

'https://twitter.com/dog_rates/status/666644823164719104/photo/1'

In [128]:
twitter_archive[twitter_archive.rating_numerator < 10].shape

(440, 17)

In [113]:
twitter_archive[twitter_archive.rating_numerator > 15].sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to this unbelievably well behaved sq...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023...,204,170,this,None,None,None,None
1712,680494726643068929,NaN,NaN,2015-12-25 21:06:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have uncovered an entire battalion of ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680494726...,26,10,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a whole flock of puppers. 60/50 I'll ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845...,60,50,a,None,None,None,None
313,835246439529840640,8.352460e+17,26259576.0,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After so many requests... here you go.\n\nGood...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764...,420,10,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The floofs have been released I repeat the flo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/820690176...,84,70,None,None,None,None,None
188,855862651834028034,8.558616e+17,194351775.0,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a brigade of puppers. All look very pre...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690...,80,80,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",IT'S PUPPERGEDDON. Total of 144/120 ...I think...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515...,144,120,None,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Saturday here's 9 puppers on a bench. 99...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603...,99,90,None,None,None,None,None

In [110]:
twitter_archive.iloc[979].expanded_urls

'https://twitter.com/dog_rates/status/749981277374128128/photo/1'

In [129]:
twitter_archive[twitter_archive.rating_numerator > 15].shape

(26, 17)

In [130]:
twitter_archive[twitter_archive.name == "None"].sample(10)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
1459,695064344191721472,NaN,NaN,2016-02-04 02:00:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This may be the greatest video I've ever been ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/695064344...,4,10,None,None,None,None,None
1111,733482008106668032,NaN,NaN,2016-05-20 02:18:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...","""Ello this is dog how may I assist"" ...10/10 h...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/733482008...,10,10,None,None,None,None,None
195,855138241867124737,NaN,NaN,2017-04-20 19:16:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @frasercampbell_: oh my... what's that... b...,8.551225e+17,7.475543e+17,2017-04-20 18:14:33 +0000,https://twitter.com/frasercampbell_/status/855...,14,10,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1654,683449695444799489,NaN,NaN,2016-01-03 00:47:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I just want to be friends with this dog. Appea...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/683449695...,10,10,None,None,None,None,None
1224,714214115368108032,NaN,NaN,2016-03-27 22:14:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Happy Easter from the squad! ðŸ‡ðŸ¶ 13/10 for all ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/714214115...,13,10,None,None,None,None,None
1506,691756958957883396,NaN,NaN,2016-01-25 22:58:05 +0000,"<a href=""http://twitter.com/download/iphone"" r...",THE BRITISH ARE COMING\nTHE BRITISH ARE COMING...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/691756958...,10,10,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...","After so many requests, this is Bretagne. She ...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/740373189...,9,11,None,None,None,None,None
1263,710117014656950272,NaN,NaN,2016-03-16 14:54:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This pupper got her hair chalked for her birth...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710117014...,11,10,None,None,None,pupper,None
411,823269594223824897,NaN,NaN,2017-01-22 20:42:21 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: We only rate dogs. Please don't...,8.222448e+17,4.196984e+09,2017-01-20 00:50:15 +0000,https://twitter.com/dog_rates/status/822244816...,11,10,None,None,None,None,None

In [124]:
twitter_archive[twitter_archive.name == "None"].shape

(745, 17)

#### Analyze the `image_predictions` data

In [122]:
image_predictions.sample(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
460,674793399141146624,https://pbs.twimg.com/media/CV1ZA3oWEAA1HW_.jpg,1,giant_schnauzer,0.119693,True,Afghan_hound,0.072763,True,miniature_schnauzer,0.063786,True
1709,818145370475810820,https://pbs.twimg.com/media/C1qi26rW8AMaj9K.jpg,1,golden_retriever,0.621931,True,Labrador_retriever,0.364997,True,redbone,0.003971,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
1987,872620804844003328,https://pbs.twimg.com/media/DBwr_hzXkAEnZBW.jpg,1,cocker_spaniel,0.513191,True,Sussex_spaniel,0.159088,True,standard_poodle,0.149509,True
685,683857920510050305,https://pbs.twimg.com/media/CX2NJmRWYAAxz_5.jpg,1,bluetick,0.174738,True,Shetland_sheepdog,0.126101,True,beagle,0.122887,True
1647,808733504066486276,https://pbs.twimg.com/media/Czky0v9VIAEXRkd.jpg,1,seat_belt,0.779137,False,toy_poodle,0.036927,True,golden_retriever,0.016972,True
116,668113020489474048,https://pbs.twimg.com/media/CUWdPsqWcAERQVv.jpg,1,Pembroke,0.548896,True,Cardigan,0.191101,True,collie,0.059814,True
733,686749460672679938,https://pbs.twimg.com/media/CYfS75fWAAAllde.jpg,1,cheeseburger,0.643808,False,hotdog,0.201378,False,bagel,0.063880,False
438,674422304705744896,https://pbs.twimg.com/media/CVwHgblWcAACWOD.jpg,1,golden_retriever,0.964497,True,Labrador_retriever,0.009006,True,tennis_ball,0.007139,False

In [131]:
image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17     1.203855     0.594548  1.345886e-01  6.032417e-02
std    6.785203e+16     0.561875     0.271174  1.006657e-01  5.090593e-02
min    6.660209e+17     1.000000     0.044333  1.011300e-08  1.740170e-10
25%    6.764835e+17     1.000000     0.364412  5.388625e-02  1.622240e-02
50%    7.119988e+17     1.000000     0.588230  1.181810e-01  4.944380e-02
75%    7.932034e+17     1.000000     0.843855  1.955655e-01  9.180755e-02
max    8.924206e+17     4.000000     1.000000  4.880140e-01  2.734190e-01

In [132]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [133]:
image_predictions[image_predictions.p1_dog == False]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,1.459380e-02,False,golden_retriever,7.958960e-03,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,2.784070e-01,True,groenendael,1.026430e-01,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
33,666430724426358785,https://pbs.twimg.com/media/CT-jNYqW4AAPi2M.jpg,1,llama,0.505184,False,Irish_terrier,1.041090e-01,True,dingo,6.207120e-02,False
43,666776908487630848,https://pbs.twimg.com/media/CUDeDoWUYAAD-EM.jpg,1,seat_belt,0.375057,False,miniature_pinscher,1.671750e-01,True,Chihuahua,8.695060e-02,True
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
52,666996132027977728,https://pbs.twimg.com/media/CUGlb6iUwAITEbW.jpg,1,hay,0.507637,False,Rottweiler,6.248990e-02,True,water_buffalo,4.842470e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,Christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
87,667524857454854144,https://pbs.twimg.com/media/CUOGUfJW4AA_eni.jpg,1,hare,0.447893,False,dhole,9.243530e-02,False,Chesapeake_Bay_retriever,8.812240e-02,True
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
95,667550904950915073,https://pbs.twimg.com/media/CUOb_gUUkAACXdS.jpg,1,web_site,0.999335,False,vizsla,8.106320e-05,True,collie,6.915900e-05,True
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,African_grey,5.424740e-02,False
103,667806454573760512,https://pbs.twimg.com/media/CUSGbXeVAAAgztZ.jpg,1,toyshop,0.253089,False,Chihuahua,1.871550e-01,True,Brabancon_griffon,1.127990e-01,True
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1904,852189679701164033,https://pbs.twimg.com/media/C9OV99SXsAEmj1U.jpg,1,barrow,0.423150,False,Bernese_mountain_dog,4.153740e-01,True,EntleBucher,6.734540e-02,True
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1932,859196978902773760,https://pbs.twimg.com/ext_tw_video_thumb/85919...,1,Angora,0.224218,False,malamute,2.161630e-01,True,Persian_cat,1.283830e-01,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1942,861288531465048066,https://pbs.twimg.com/ext_tw_video_thumb/86128...,1,syringe,0.144712,False,oxygen_mask,1.066840e-01,False,Bouvier_des_Flandres,8.261020e-02,True
1944,861769973181624320,https://pbs.twimg.com/media/CzG425nWgAAnP7P.jpg,2,Arabian_camel,0.366248,False,house_finch,2.098520e-01,False,cocker_spaniel,4.640320e-02,True
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1970,868880397819494401,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,9.998390e-02,True,printer,7.712990e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
1984,872122724285648897,https://pbs.twimg.com/media/DBpm-5UXcAUeCru.jpg,1,basketball,0.808396,False,pug,6.673630e-02,True,dalmatian,5.456980e-02,True
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,9.998390e-02,True,printer,7.712990e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,Egyptian_cat,1.329320e-01,False
2013,879376492567855104,https://pbs.twimg.com/media/DDQsQGFV0AAw6u9.jpg,1,tricycle,0.663601,False,Labrador_retriever,3.349610e-02,True,Pembroke,1.882660e-02,True
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2026,882045870035918850,https://pbs.twimg.com/media/DD2oCl2WAAEI_4a.jpg,1,web_site,0.949591,False,dhole,1.732580e-02,False,golden_retriever,6.940630e-03,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,1.680860e-01,True,spatula,4.083590e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

In [138]:
image_predictions[(image_predictions.p1_dog == False) & (image_predictions.p2_dog == False) & (image_predictions.p3_dog == False)]

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,4.588540e-02,False,terrapin,1.788530e-02,False
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,3.391940e-02,False,partridge,5.206580e-05,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,8.554740e-02,False,bookcase,7.947970e-02,False
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,1.525000e-02,False,great_grey_owl,1.320720e-02,False
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,2.402450e-03,False,hamster,4.608630e-04,False
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,2.714850e-01,False,gar,1.899450e-01,False
45,666786068205871104,https://pbs.twimg.com/media/CUDmZIkWcAAIPPe.jpg,1,snail,0.999888,False,slug,5.514170e-05,False,acorn,2.625800e-05,False
50,666837028449972224,https://pbs.twimg.com/media/CUEUva1WsAA2jPb.jpg,1,triceratops,0.442113,False,armadillo,1.140710e-01,False,common_iguana,4.325530e-02,False
51,666983947667116034,https://pbs.twimg.com/media/CUGaXDhW4AY9JUH.jpg,1,swab,0.589446,False,chain_saw,1.901420e-01,False,wig,3.450970e-02,False
53,667012601033924608,https://pbs.twimg.com/media/CUG0bC0U8AAw2su.jpg,1,hyena,0.987230,False,African_hunting_dog,1.260080e-02,False,coyote,5.735010e-05,False
56,667065535570550784,https://pbs.twimg.com/media/CUHkkJpXIAA2w3n.jpg,1,jigsaw_puzzle,0.560001,False,doormat,1.032590e-01,False,space_heater,4.256800e-02,False
69,667188689915760640,https://pbs.twimg.com/media/CUJUk2iWUAAVtOv.jpg,1,vacuum,0.335830,False,swab,2.652780e-01,False,toilet_tissue,1.407030e-01,False
73,667369227918143488,https://pbs.twimg.com/media/CUL4xR9UkAEdlJ6.jpg,1,teddy,0.709545,False,bath_towel,1.272850e-01,False,Christmas_stocking,2.856750e-02,False
77,667437278097252352,https://pbs.twimg.com/media/CUM2qWaWoAUZ06L.jpg,1,porcupine,0.989154,False,bath_towel,6.300490e-03,False,badger,9.663400e-04,False
78,667443425659232256,https://pbs.twimg.com/media/CUM8QZwW4AAVsBl.jpg,1,goose,0.980815,False,drake,6.917770e-03,False,hen,5.255170e-03,False
93,667549055577362432,https://pbs.twimg.com/media/CUOcVCwWsAERUKY.jpg,1,electric_fan,0.984377,False,spotlight,7.736710e-03,False,lampshade,1.901230e-03,False
94,667550882905632768,https://pbs.twimg.com/media/CUObvUJVEAAnYPF.jpg,1,web_site,0.998258,False,dishwasher,2.010840e-04,False,oscilloscope,1.417360e-04,False
96,667724302356258817,https://pbs.twimg.com/media/CUQ7tv3W4AA3KlI.jpg,1,ibex,0.619098,False,bighorn,1.251190e-01,False,ram,7.467320e-02,False
98,667766675769573376,https://pbs.twimg.com/media/CURiQMnUAAAPT2M.jpg,1,fire_engine,0.883493,False,tow_truck,7.473390e-02,False,jeep,1.277260e-02,False
100,667782464991965184,https://pbs.twimg.com/media/CURwm3cUkAARcO6.jpg,1,lorikeet,0.466149,False,hummingbird,8.301100e-02,False,African_grey,5.424740e-02,False
106,667866724293877760,https://pbs.twimg.com/media/CUS9PlUWwAANeAD.jpg,1,jigsaw_puzzle,1.000000,False,prayer_rug,1.011300e-08,False,doormat,1.740170e-10,False
107,667873844930215936,https://pbs.twimg.com/media/CUTDtyGXIAARxus.jpg,1,common_iguana,0.999647,False,frilled_lizard,1.811500e-04,False,African_chameleon,1.283570e-04,False
112,667911425562669056,https://pbs.twimg.com/media/CUTl5m1WUAAabZG.jpg,1,frilled_lizard,0.257695,False,ox,2.351600e-01,False,triceratops,8.531690e-02,False
115,667937095915278337,https://pbs.twimg.com/media/CUT9PuQWwAABQv7.jpg,1,hamster,0.172078,False,guinea_pig,9.492420e-02,False,Band_Aid,5.999520e-02,False
117,668142349051129856,https://pbs.twimg.com/media/CUW37BzWsAAlJlN.jpg,1,Angora,0.918834,False,hen,3.779340e-02,False,wood_rabbit,1.101490e-02,False
118,668154635664932864,https://pbs.twimg.com/media/CUXDGR2WcAAUQKz.jpg,1,Arctic_fox,0.473584,False,wallaby,2.614110e-01,False,white_wolf,8.094780e-02,False
123,668226093875376128,https://pbs.twimg.com/media/CUYEFlQXAAUkPGm.jpg,1,trombone,0.390339,False,cornet,3.141490e-01,False,French_horn,2.551820e-01,False
130,668291999406125056,https://pbs.twimg.com/media/CUZABzGW4AE5F0k.jpg,1,web_site,0.995535,False,skunk,1.363490e-03,False,badger,6.856500e-04,False
132,668466899341221888,https://pbs.twimg.com/media/CUbfGbbWoAApZth.jpg,1,shopping_basket,0.398361,False,hamper,3.632220e-01,False,bassinet,8.417350e-02,False
140,668544745690562560,https://pbs.twimg.com/media/CUcl5jeWsAA6ufS.jpg,1,bearskin,0.427870,False,bow,2.588580e-01,False,panpipe,2.156260e-02,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1839,837482249356513284,https://pbs.twimg.com/media/C59VqMUXEAAzldG.jpg,2,birdhouse,0.541196,False,can_opener,1.210940e-01,False,carton,5.613670e-02,False
1844,838916489579200512,https://pbs.twimg.com/media/C6RkiQZUsAAM4R4.jpg,2,web_site,0.993651,False,monitor,1.405900e-03,False,envelope,1.093090e-03,False
1847,839290600511926273,https://pbs.twimg.com/media/C6XBt9XXEAEEW9U.jpg,1,web_site,0.670892,False,monitor,1.015650e-01,False,screen,7.530610e-02,False
1851,840370681858686976,https://pbs.twimg.com/media/C6mYrK0UwAANhep.jpg,1,teapot,0.981819,False,cup,1.402580e-02,False,coffeepot,2.420540e-03,False
1853,840696689258311684,https://pbs.twimg.com/media/C6rBLenU0AAr8MN.jpg,1,web_site,0.841768,False,rule,7.087310e-03,False,envelope,6.820300e-03,False
1869,844580511645339650,https://pbs.twimg.com/media/C7iNfq1W0AAcbsR.jpg,1,washer,0.903064,False,dishwasher,3.248900e-02,False,printer,1.645620e-02,False
1886,847962785489326080,https://pbs.twimg.com/media/C8SRpHNUIAARB3j.jpg,1,sea_lion,0.882654,False,mink,6.688020e-02,False,otter,2.567870e-02,False
1887,847971574464610304,https://pbs.twimg.com/media/C8SZH1EWAAAIRRF.jpg,1,coffee_mug,0.633652,False,cup,2.733920e-01,False,toilet_tissue,6.665580e-02,False
1891,849051919805034497,https://pbs.twimg.com/media/C8hwNxbXYAAwyVG.jpg,1,fountain,0.997509,False,American_black_bear,1.413120e-03,False,sundial,6.811150e-04,False
1892,849336543269576704,https://pbs.twimg.com/media/C8lzFC4XcAAQxB4.jpg,1,patio,0.521788,False,prison,1.495440e-01,False,restaurant,2.715260e-02,False
1900,851464819735769094,https://pbs.twimg.com/media/C9ECujZXsAAPCSM.jpg,2,web_site,0.919649,False,menu,2.630610e-02,False,crossword_puzzle,3.481510e-03,False
1902,851861385021730816,https://pbs.twimg.com/media/C8W6sY_W0AEmttW.jpg,1,pencil_box,0.662183,False,purse,6.650550e-02,False,pillow,4.472530e-02,False
1905,852226086759018497,https://pbs.twimg.com/ext_tw_video_thumb/85222...,1,prison,0.352793,False,dishwasher,1.107230e-01,False,file,9.411200e-02,False
1906,852311364735569921,https://pbs.twimg.com/media/C9QEqZ7XYAIR7fS.jpg,1,barbell,0.971581,False,dumbbell,2.841790e-02,False,go-kart,5.595040e-07,False
1910,853299958564483072,https://pbs.twimg.com/media/C9eHyF7XgAAOxPM.jpg,1,grille,0.652280,False,beach_wagon,1.128460e-01,False,convertible,8.625230e-02,False
1931,859074603037188101,https://pbs.twimg.com/media/C-wLyufW0AA546I.jpg,1,revolver,0.190292,False,projectile,1.490640e-01,False,fountain,6.604660e-02,False
1936,860184849394610176,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,1,chimpanzee,0.267612,False,gorilla,1.042930e-01,False,orangutan,5.990750e-02,False
1937,860276583193509888,https://pbs.twimg.com/media/C_BQ_NlVwAAgYGD.jpg,1,lakeside,0.312299,False,dock,1.598420e-01,False,canoe,7.079450e-02,False
1940,860924035999428608,https://pbs.twimg.com/media/C_KVJjDXsAEUCWn.jpg,2,envelope,0.933016,False,oscilloscope,1.259140e-02,False,paper_towel,1.117850e-02,False
1946,862457590147678208,https://pbs.twimg.com/media/C_gQmaTUMAAPYSS.jpg,1,home_theater,0.496348,False,studio_couch,1.672560e-01,False,barber_chair,5.262500e-02,False
1953,863907417377173506,https://pbs.twimg.com/media/C_03NPeUQAAgrMl.jpg,1,marmot,0.358828,False,meerkat,1.747030e-01,False,weasel,1.234850e-01,False
1956,864873206498414592,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,2,pole,0.478616,False,lakeside,1.141820e-01,False,wreck,5.592650e-02,False
1975,870063196459192321,https://pbs.twimg.com/media/DBMV3NnXUAAm0Pp.jpg,1,comic_book,0.534409,False,envelope,2.807220e-01,False,book_jacket,4.378550e-02,False
1979,870804317367881728,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,1,home_theater,0.168290,False,sandbar,9.804040e-02,False,television,7.972940e-02,False
2012,879050749262655488,https://pbs.twimg.com/media/DDMD_phXoAQ1qf0.jpg,1,tabby,0.311861,False,window_screen,1.691230e-01,False,Egyptian_cat,1.329320e-01,False
2021,880935762899988482,https://pbs.twimg.com/media/DDm2Z5aXUAEDS2u.jpg,1,street_sign,0.251801,False,umbrella,1.151230e-01,False,traffic_light,6.953380e-02,False
2022,881268444196462592,https://pbs.twimg.com/media/DDrk-f9WAAI-WQv.jpg,1,tusker,0.473303,False,Indian_elephant,2.456460e-01,False,ibex,5.566070e-02,False
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,1.399520e-01,False,car_wheel,4.417270e-02,False
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,2.917540e-02,False,shopping_cart,2.632080e-02,False
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,8.585110e-02,False,banana,7.611000e-02,False

#### Analyze the `detailed_tweets` table

In [139]:
detailed_tweets.sample(10)

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
1037,NaN,NaN,2016-06-13 01:06:33,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 742161185223630852, 'id_str'...",4468,False,NaN,742161199639494656,742161199639494656,...,NaN,NaN,NaN,1429,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Doug. He's trying to float away. 12/10...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2018,NaN,NaN,2015-12-03 02:45:32,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 672245248555409408, 'id_str'...",680,False,NaN,672245253877968896,672245253877968896,...,NaN,NaN,NaN,159,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Meet Snickers. He's adorable. Also comes in t-...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2099,NaN,NaN,2015-11-28 19:04:19,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 670679606182055936, 'id_str'...",745,False,NaN,670679630144274432,670679630144274432,...,NaN,NaN,NaN,278,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Pluto. He's holding little waddling do...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2109,NaN,NaN,2015-11-25 01:20:08,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 669324644248219648, 'id_str'...",494,False,NaN,669324657376567296,669324657376567296,...,NaN,NaN,NaN,207,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Meet Ralf. He's a miniature Buick DiCaprio. Ca...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1616,NaN,NaN,2016-01-08 19:45:39,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 685547930707750912, 'id_str'...",33890,False,NaN,685547936038666240,685547936038666240,...,NaN,NaN,NaN,16185,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Everybody needs to read this. Jack is our firs...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2147,NaN,NaN,2015-11-24 02:29:49,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 668979801907175424, 'id_str'...",793,False,NaN,668979806671884288,668979806671884288,...,NaN,NaN,NaN,348,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Chaz. He's an X Games half pipe supers...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1550,NaN,NaN,2016-01-12 02:06:41,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 686730987418550272, 'id_str'...",4262,False,NaN,686730991906516992,686730991906516992,...,NaN,NaN,NaN,1235,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I just love this picture. 12/10 lovely af http...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1192,NaN,NaN,2016-03-14 02:39:42,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 709207338792525824, 'id_str'...",12890,False,NaN,709207347839836162,709207347839836160,...,NaN,NaN,NaN,5980,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Penny. She's trying on her prom dress....,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2048,NaN,NaN,2015-12-01 19:10:13,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 671768277677441024, 'id_str'...",1184,False,NaN,671768281401958400,671768281401958400,...,NaN,NaN,NaN,507,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",When you try to recreate the scene from Lady &...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1908,NaN,NaN,2015-12-07 03:45:53,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 673709986195890176, 'id_str'...",849,False,NaN,673709992831262724,673709992831262720,...,NaN,NaN,NaN,275,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I know a lot of you are studying for finals. G...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [140]:
detailed_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 29 columns):
contributors                 0 non-null float64
coordinates                  0 non-null float64
created_at                   2333 non-null datetime64[ns]
entities                     2333 non-null object
extended_entities            1818 non-null object
favorite_count               2333 non-null int64
favorited                    2333 non-null bool
geo                          0 non-null float64
id                           2333 non-null int64
id_str                       2333 non-null int64
in_reply_to_screen_name      77 non-null object
in_reply_to_status_id        77 non-null float64
in_reply_to_status_id_str    77 non-null float64
in_reply_to_user_id          77 non-null float64
in_reply_to_user_id_str      77 non-null float64
is_quote_status              2333 non-null bool
lang                         2333 non-null object
place                        1 non-null object
possibly_sensitive           2199 non-null float64
quoted_status                24 non-null object
quoted_status_id             26 non-null float64
quoted_status_id_str         26 non-null float64
retweet_count                2333 non-null int64
retweeted                    2333 non-null bool
retweeted_status             164 non-null object
source                       2333 non-null object
text                         2333 non-null object
truncated                    2333 non-null bool
user                         2333 non-null object
dtypes: bool(4), datetime64[ns](1), float64(10), int64(4), object(10)
memory usage: 464.9+ KB

In [141]:
detailed_tweets.describe()

,contributors,coordinates,favorite_count,geo,id,id_str,in_reply_to_status_id,in_reply_to_status_id_str,in_reply_to_user_id,in_reply_to_user_id_str,possibly_sensitive,quoted_status_id,quoted_status_id_str,retweet_count
count,0.0,0.0,2333.000000,0.0,2.333000e+03,2.333000e+03,7.700000e+01,7.700000e+01,7.700000e+01,7.700000e+01,2199.0,2.600000e+01,2.600000e+01,2333.000000
mean,NaN,NaN,7781.912130,NaN,7.419023e+17,7.419023e+17,7.440692e+17,7.440692e+17,2.040329e+16,2.040329e+16,0.0,8.113972e+17,8.113972e+17,2814.629233
std,NaN,NaN,12072.355158,NaN,6.818084e+16,6.818084e+16,7.524295e+16,7.524295e+16,1.260797e+17,1.260797e+17,0.0,6.295843e+16,6.295843e+16,4760.842662
min,NaN,NaN,0.000000,NaN,6.660209e+17,6.660209e+17,6.658147e+17,6.658147e+17,1.185634e+07,1.185634e+07,0.0,6.721083e+17,6.721083e+17,1.000000
25%,NaN,NaN,1355.000000,NaN,6.782786e+17,6.782786e+17,6.757073e+17,6.757073e+17,3.589728e+08,3.589728e+08,0.0,7.761338e+17,7.761338e+17,565.000000
50%,NaN,NaN,3390.000000,NaN,7.184547e+17,7.184547e+17,7.032559e+17,7.032559e+17,4.196984e+09,4.196984e+09,0.0,8.281173e+17,8.281173e+17,1316.000000
75%,NaN,NaN,9545.000000,NaN,7.986440e+17,7.986440e+17,8.233264e+17,8.233264e+17,4.196984e+09,4.196984e+09,0.0,8.637581e+17,8.637581e+17,3281.000000
max,NaN,NaN,161207.000000,NaN,8.924206e+17,8.924206e+17,8.862664e+17,8.862664e+17,8.405479e+17,8.405479e+17,0.0,8.860534e+17,8.860534e+17,80810.000000

In [142]:
detailed_tweets[detailed_tweets.favorited == True]

Empty DataFrame
Columns: [contributors, coordinates, created_at, entities, extended_entities, favorite_count, favorited, geo, id, id_str, in_reply_to_screen_name, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, is_quote_status, lang, place, possibly_sensitive, quoted_status, quoted_status_id, quoted_status_id_str, retweet_count, retweeted, retweeted_status, source, text, truncated, user]
Index: []

[0 rows x 29 columns]

In [143]:
detailed_tweets[detailed_tweets.retweeted == True]

Empty DataFrame
Columns: [contributors, coordinates, created_at, entities, extended_entities, favorite_count, favorited, geo, id, id_str, in_reply_to_screen_name, in_reply_to_status_id, in_reply_to_status_id_str, in_reply_to_user_id, in_reply_to_user_id_str, is_quote_status, lang, place, possibly_sensitive, quoted_status, quoted_status_id, quoted_status_id_str, retweet_count, retweeted, retweeted_status, source, text, truncated, user]
Index: []

[0 rows x 29 columns]

In [144]:
detailed_tweets[detailed_tweets.is_quote_status == True]

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
6,NaN,NaN,2017-06-24 13:24:20,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,29162,False,NaN,878604707211726852,878604707211726848,...,{'created_at': 'Sat Jun 24 13:05:06 +0000 2017...,8.785999e+17,8.785999e+17,6778,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Martha is stunning how h*ckin dare you. 13/10 ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
12,NaN,NaN,2017-07-13 15:19:09,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,19734,False,NaN,885518971528720385,885518971528720384,...,NaN,NaN,NaN,3522,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I have a new hero and his name is Howard. 14/1...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
54,NaN,NaN,2017-07-15 02:45:48,"{'hashtags': [{'text': 'BATP', 'indices': [21,...",NaN,0,False,NaN,886054160059072513,886054160059072512,...,NaN,8.860534e+17,8.860534e+17,104,False,{'created_at': 'Sat Jul 15 02:44:07 +0000 2017...,"<a href=""http://twitter.com/download/iphone"" r...",RT @Athletics: 12/10 #BATP https://t.co/WxwJmv...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
68,NaN,NaN,2017-06-18 20:30:39,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,22785,False,NaN,876537666061221889,876537666061221888,...,{'created_at': 'Sat Jun 17 19:41:50 +0000 2017...,8.761630e+17,8.761630e+17,4427,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I can say with the pupmost confidence that the...,True,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
75,NaN,NaN,2017-06-14 21:06:43,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,26517,False,NaN,875097192612077568,875097192612077568,...,{'created_at': 'Mon Jun 12 23:49:34 +0000 2017...,8.744134e+17,8.744134e+17,5767,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",You'll get your package when that precious man...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
93,NaN,NaN,2017-07-10 03:08:17,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,70304,False,NaN,884247878851493888,884247878851493888,...,{'created_at': 'Sun Jul 09 08:26:49 +0000 2017...,8.839657e+17,8.839657e+17,19255,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LIT...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
114,NaN,NaN,2017-05-22 18:21:28,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,19617,False,NaN,866720684873056260,866720684873056256,...,{'created_at': 'Mon May 22 01:00:31 +0000 2017...,8.664587e+17,8.664587e+17,4650,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",He was providing for his family 13/10 how dare...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
138,NaN,NaN,2017-04-22 16:18:34,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,26581,False,NaN,855818117272018944,855818117272018944,...,{'created_at': 'Sat Apr 22 05:36:05 +0000 2017...,8.556564e+17,8.556564e+17,5420,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I HEARD HE TIED HIS OWN BOWTIE MARK AND HE JUS...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
142,NaN,NaN,2017-06-03 20:33:19,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,20328,False,NaN,871102520638267392,871102520638267392,...,{'created_at': 'Sat Jun 03 18:46:59 +0000 2017...,8.710758e+17,8.710758e+17,5290,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Never doubt a doggo 14/10 https://t.co/AbBLh2FZCH,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
157,NaN,NaN,2017-04-22 18:55:51,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,11830,False,NaN,855857698524602368,855857698524602368,...,NaN,NaN,NaN,2102,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","HE'S LIKE ""WAIT A MINUTE I'M AN ANIMAL THIS IS...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
218,NaN,NaN,2017-03-07 03:22:35,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,20163,False,NaN,838952994649550848,838952994649550848,...,{'created_at': 'Tue Mar 07 03:05:35 +0000 2017...,8.389487e+17,8.389487e+17,4106,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",SHE MISPLACED HER HOOMAN 13/10 MISTAKES HAPPEN...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
224,NaN,NaN,2017-03-13 16:08:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,20282,False,NaN,841320156043304961,841320156043304960,...,{'created_at': 'Mon Mar 13 15:34:02 +0000 2017...,8.413114e+17,8.413114e+17,5640,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","We don't rate penguins, but if we did, this on...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
260,NaN,NaN,2017-03-26 23:20:02,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,31527,False,NaN,846139713627017216,846139713627017216,...,{'created_at': 'Sun Mar 26 19:56:27 +0000 2017...,8.460885e+17,8.460885e+17,10166,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",SHE DID AN ICY ZOOM AND KNEW WHEN TO PUT ON TH...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
271,NaN,NaN,2017-03-21 00:22:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,15480,False,NaN,843981021012017153,843981021012017152,...,NaN,NaN,NaN,3009,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",HE WAS DOING A SNOOZE NO SHAME IN A SNOOZE 13/...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
275,NaN,NaN,2017-03-27 23:35:28,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,14374,False,NaN,846505985330044928,846505985330044928,...,{'created_at': 'Mon Mar 27 22:11:17 +0000 2017...,8.464848e+17,8.464848e+17,3141,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",THIS WAS NOT HIS FAULT HE HAD NO IDEA. 11/10 S...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
333,NaN,NaN,2017-02-17 20:05:43,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,12272,False,NaN,832682457690300417,832682457690300416,...,{'created_at': 'Thu Feb 16 16:40:00 +0000 2017...,8.322683e+17,8.322683e+17,3046,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Prosperous good boy 13/10 socioeconomic af htt...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
345,NaN,NaN,2017-02-21 17:18:39,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,10349,False,NaN,834089966724603904,834089966724603904,...,NaN,NaN,NaN,2209,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",DOGGO ON THE LOOSE I REPEAT DOGGO ON THE LOOSE...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
387,NaN,NaN,2017-01-24 22:44:42,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,4977,False,NaN,824025158776213504,824025158776213504,...,{'created_at': 'Tue Jan 24 18:50:25 +0000 2017...,8.239662e+17,8.239662e+17,620,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","""I wish we were dogs"" 14/10 for @BadlandsNPS h...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
400,NaN,NaN,2017-01-08 01:40:55,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5067,False,NaN,817908911860748288,817908911860748288,...,{'created_at': 'Sun Jan 08 01:13:46 +0000 2017...,8.179021e+17,8.179021e+17,839,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Looks like he went cross-eyed trying way too h...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
492,NaN,NaN,2016-12-02 00:02:45,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,6440,False,NaN,804475857670639616,804475857670639616,...,{'created_at': 'Thu Dec 01 20:12:17 +0000 2016...,8.044179e+17,8.044179e+17,2135,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",HE'S TRYING TO BE HIS OWN PERSON LET HIM GO 13...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
506,NaN,NaN,2016-11-22 00:17:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,0,False,NaN,800855607700029440,800855607700029440,...,NaN,NaN,NaN,1714,False,{'created_at': 'Tue Nov 22 00:10:52 +0000 2016...,"<a href=""http://twitter.com/download/iphone"" r...",RT @Lin_Manuel: 11/10 would recommend. https:/...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
574,NaN,NaN,2016-12-07 19:09:37,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5109,False,NaN,806576416489959424,806576416489959424,...,{'created_at': 'Wed Dec 07 18:47:50 +0000 2016...,8.065709e+17,8.065709e+17,2058,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Hooman catch successful. Massive hit by dog. F...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
629,NaN,NaN,2016-10-21 03:56:25,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,9060,False,NaN,789314372632018944,789314372632018944,...,{'created_at': 'Wed Oct 19 19:05:19 +0000 2016...,7.888183e+17,7.888183e+17,2427,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",HE WAS JUST A LIL SLEEPY FROM BEING SUCH A GOO...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
671,NaN,NaN,2016-11-08 23:01:49,"{'hashtags': [{'text': 'ImWithThor', 'indices'...",NaN,5206,False,NaN,796125600683540480,796125600683540480,...,{'created_at': 'Tue Nov 08 22:54:11 +0000 2016...,7.961237e+17,7.961237e+17,1909,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",#ImWithThor 13/10\nhttps://t.co/a18mzkhTf6,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
798,NaN,NaN,2016-07-30 17:51:13,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1733,False,NaN,759446261539934208,759446261539934208,...,{'created_at': 'Fri Jul 29 23:23:45 +0000 2016...,7.591676e+17,7.591676e+17,504,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",No no no this is all wrong. The Walmart had to...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
838,NaN,NaN,2016-09-03 03:13:29,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,6847,False,NaN,771908950375665664,771908950375665664,...,{'created_at': 'Sat Sep 03 03:00:03 +0000 2016...,7.719056e+17,7.719056e+17,1990,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Doggo will persevere. 13/10\nhttps://t.co/yOVz...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1055,NaN,NaN,2016-06-18 17:41:06,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1726,False,NaN,744223424764059648,744223424764059648,...,NaN,6.721083e+17,6.721083e+17,381,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is actually a pupper and I'd pet it so we...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1081,NaN,NaN,2016-04-27 22:57:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1441,False,NaN,725458796924002305,725458796924002304,...,{'created_at': 'Wed Apr 27 01:34:44 +0000 2016...,7.251361e+17,7.251361e+17,632,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Pup had to be removed cuz it wouldn't have bee...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1185,NaN,NaN,2016-03-22 16:06:19,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,246,False,NaN,712309440758808576,712309440758808576,...,{'created_at': 'Wed Mar 16 01:48:07 +0000 2016...,7.099191e+17,7.099191e+17,25,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Reminder that we made our first set of sticker...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1270,NaN,NaN,2016-04-03 20:53:33,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1263,False,NaN,716730379797970944,716730379797970944,...,{'created_at': 'Sun Apr 03 14:42:59 +0000 2016...,7.166371e+17,7.166371e+17,442,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",There has clearly been a mistake. Pup did noth...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1307,NaN,NaN,2016-03-05 17:26:40,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,4009,False,NaN,706169069255446529,706169069255446528,...,{'created_at': 'Sat Mar 05 17:14:10 +0000 2016...,7.061659e+17,7.061659e+17,2288,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",He was doing his best. 12/10 I'll be his lawye...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [147]:
detailed_tweets[detailed_tweets.place.notnull()]

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
837,NaN,NaN,2016-08-10 01:23:03,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 763183833575481344, 'id_str'...",5599,False,NaN,763183847194451968,763183847194451968,...,NaN,NaN,NaN,1546,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Clark. He collects teddy bears. It's a...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [152]:
detailed_tweets.iloc[837]

contributors                                                               NaN
coordinates                                                                NaN
created_at                                                 2016-08-10 01:23:03
entities                     {'hashtags': [], 'symbols': [], 'user_mentions...
extended_entities            {'media': [{'id': 763183833575481344, 'id_str'...
favorite_count                                                            5599
favorited                                                                False
geo                                                                        NaN
id                                                          763183847194451968
id_str                                                      763183847194451968
in_reply_to_screen_name                                                   None
in_reply_to_status_id                                                      NaN
in_reply_to_status_id_str                                                  NaN
in_reply_to_user_id                                                        NaN
in_reply_to_user_id_str                                                    NaN
is_quote_status                                                          False
lang                                                                        en
place                        {'id': '7356b662670b2c31', 'url': 'https://api...
possibly_sensitive                                                           0
quoted_status                                                              NaN
quoted_status_id                                                           NaN
quoted_status_id_str                                                       NaN
retweet_count                                                             1546
retweeted                                                                False
retweeted_status                                                           NaN
source                       <a href="http://twitter.com/download/iphone" r...
text                         This is Clark. He collects teddy bears. It's a...
truncated                                                                False
user                         {'id': 4196983835, 'id_str': '4196983835', 'na...
Name: 837, dtype: object

In [159]:
detailed_tweets[detailed_tweets.in_reply_to_screen_name.notnull()]

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,geo,id,id_str,...,quoted_status,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,truncated,user
7,NaN,NaN,2017-06-27 12:14:36,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,302,False,NaN,879674319642796034,879674319642796032,...,NaN,NaN,NaN,10,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
21,NaN,NaN,2017-07-15 16:51:35,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,116,False,NaN,886267009285017600,886267009285017600,...,NaN,NaN,NaN,4,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
38,NaN,NaN,2017-07-02 21:58:53,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,123,False,NaN,881633300179243008,881633300179243008,...,NaN,NaN,NaN,7,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
103,NaN,NaN,2017-04-22 19:05:32,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,4987,False,NaN,855860136149123072,855860136149123072,...,NaN,NaN,NaN,1007,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
115,NaN,NaN,2017-05-13 16:15:35,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2205,False,NaN,863427515083354112,863427515083354112,...,NaN,NaN,NaN,94,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
136,NaN,NaN,2017-05-12 17:12:53,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,8624,False,NaN,863079547188785154,863079547188785152,...,NaN,NaN,NaN,1079,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Ladies and gentlemen... I found Pipsy. He may ...,True,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
151,NaN,NaN,2017-04-24 15:13:52,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 856526604033556482, 'id_str'...",11798,False,NaN,856526610513747968,856526610513747968,...,NaN,NaN,NaN,1865,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
169,NaN,NaN,2017-04-22 19:15:32,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,344,False,NaN,855862651834028034,855862651834028032,...,NaN,NaN,NaN,26,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
183,NaN,NaN,2017-04-26 12:48:51,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,227,False,NaN,857214891891077121,857214891891077120,...,NaN,NaN,NaN,17,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
186,NaN,NaN,2017-06-02 19:38:25,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,118,False,NaN,870726314365509632,870726314365509632,...,NaN,NaN,NaN,3,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
206,NaN,NaN,2017-03-31 01:11:22,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,7103,False,NaN,847617282490613760,847617282490613760,...,NaN,NaN,NaN,425,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
212,NaN,NaN,2017-03-23 18:29:57,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 844979535204429824, 'id_str'...",13920,False,NaN,844979544864018432,844979544864018432,...,NaN,NaN,NaN,2619,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I'm proud to announce that Toby is 23...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
230,NaN,NaN,2017-03-11 22:59:09,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,180,False,NaN,840698636975636481,840698636975636480,...,NaN,NaN,NaN,2,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
238,NaN,NaN,2017-04-01 16:41:12,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,8314,False,NaN,848213670039564288,848213670039564288,...,NaN,NaN,NaN,754,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
248,NaN,NaN,2017-03-04 17:56:49,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,145,False,NaN,838085839343206401,838085839343206400,...,NaN,NaN,NaN,1,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
253,NaN,NaN,2017-03-04 22:12:52,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1724,False,NaN,838150277551247360,838150277551247360,...,NaN,NaN,NaN,345,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
273,NaN,NaN,2017-04-07 13:04:55,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,3491,False,NaN,850333567704068097,850333567704068096,...,NaN,NaN,NaN,337,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
288,NaN,NaN,2017-02-16 04:45:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,67,False,NaN,832088576586297345,832088576586297344,...,NaN,NaN,NaN,2,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
307,NaN,NaN,2017-02-01 01:11:25,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5296,False,NaN,826598799820865537,826598799820865536,...,NaN,NaN,NaN,264,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
349,NaN,NaN,2017-02-24 21:54:03,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2163,False,NaN,835246439529840640,835246439529840640,...,NaN,NaN,NaN,73,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
376,NaN,NaN,2017-02-15 18:03:45,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,351,False,NaN,831926988323639298,831926988323639296,...,NaN,NaN,NaN,34,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
388,NaN,NaN,2016-12-25 21:12:41,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,4678,False,NaN,813130366689148928,813130366689148928,...,NaN,NaN,NaN,474,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
391,NaN,NaN,2017-01-23 00:56:15,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,727,False,NaN,823333489516937216,823333489516937216,...,NaN,NaN,NaN,26,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
429,NaN,NaN,2017-01-17 00:33:26,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,265,False,NaN,821153421864615936,821153421864615936,...,NaN,NaN,NaN,10,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
493,NaN,NaN,2016-11-25 21:37:47,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 802265039247904768, 'id_str'...",6931,False,NaN,802265048156610565,802265048156610560,...,NaN,NaN,NaN,1444,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","Like doggo, like pupper version 2. Both 11/10 ...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
532,NaN,NaN,2016-11-24 18:28:13,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1854,False,NaN,801854953262350336,801854953262350336,...,NaN,NaN,NaN,248,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
534,NaN,NaN,2016-11-22 00:32:18,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,721,False,NaN,800859414831898624,800859414831898624,...,NaN,NaN,NaN,101,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
542,NaN,NaN,2016-12-21 19:01:02,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,5860,False,NaN,811647686436880384,811647686436880384,...,NaN,NaN,NaN,786,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
649,NaN,NaN,2016-11-11 19:55:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,237,False,NaN,797165961484890113,797165961484890112,...,NaN,NaN,NaN,28,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
700,NaN,NaN,2016-10-12 03:50:17,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1499,False,NaN,786051337297522688,786051337297522688,...,NaN,NaN,NaN,161,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",13/10 for breakdancing puppo @shibbnbot,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457,NaN,NaN,2016-02-06 00:35:13,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 695767665437233153, 'id_str'...",1919,False,NaN,695767669421768709,695767669421768704,...,NaN,NaN,NaN,765,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",If you are aware of who is making these please...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1469,NaN,NaN,2016-01-27 19:05:49,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1518,False,NaN,692423280028966913,692423280028966912,...,NaN,NaN,NaN,236,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1478,NaN,NaN,2016-01-10 04:04:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1192,False,NaN,686035780142297088,686035780142297088,...,NaN,NaN,NaN,122,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1515,NaN,NaN,2016-01-27 00:31:15,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 692142771344400384, 'id_str'...",1688,False,NaN,692142790915014657,692142790915014656,...,NaN,NaN,NaN,405,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",These are some pictures of Teddy that further ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1517,NaN,NaN,2016-01-22 18:49:36,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,300,False,NaN,690607260360429569,690607260360429568,...,NaN,NaN,NaN,17,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1579,NaN,NaN,2015-12-28 05:07:27,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1680,False,NaN,681340665377193984,681340665377193984,...,NaN,NaN,NaN,292,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1582,NaN,NaN,2016-01-01 06:22:03,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1824,False,NaN,682808988178739200,682808988178739200,...,NaN,NaN,NaN,183,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1591,NaN,NaN,2016-01-09 04:34:45,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2088,False,NaN,685681090388975616,685681090388975616,...,NaN,NaN,NaN,129,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1652,NaN,NaN,2016-01-05 04:11:44,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 684225739852492800, 'id_str'...",1269,False,NaN,684225744407494656,684225744407494656,...,NaN,NaN,NaN,216,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","Two sneaky puppers were not initially seen, mo...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1654,NaN,NaN,2016-01-07 05:28:35,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,2435,False,NaN,684969860808454144,684969860808454144,...,NaN,NaN,NaN,385,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1676,NaN,NaN,2016-01-06 00:54:18,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 684538367950872576, 'id_str'...",2719,False,NaN,684538444857667585,684538444857667584,...,NaN,NaN,NaN,982,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...","After watching this video, we've determined th...",False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1693,NaN,NaN,2015-12-19 01:25:31,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,1960,False,NaN,678023323247357953,678023323247357952,...,NaN,NaN,NaN,392,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1785,NaN,NaN,2015-12-11 16:20:15,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675349367813877760, 'id_str'...",3947,False,NaN,675349384339542016,675349384339542016,...,NaN,NaN,NaN,2289,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Yea I lied. Here's more. All 13/10 https://t.c...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1791,NaN,NaN,2015-12-10 17:11:09,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674999800484368385, 'id_str'...",2257,False,NaN,674999807681908736,674999807681908736,...,NaN,NaN,NaN,1110,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Ok last one of these. I may try to make some m...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1792,NaN,NaN,2015-12-13 02:51:51,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675870715636224001, 'id_str'...",1654,False,NaN,675870721063669760,675870721063669760,...,NaN,NaN,NaN,578,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",&amp; this is Yoshi. Another world record cont...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1814,NaN,NaN,2015-12-13 01:25:37,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,943,False,NaN,675849018447167488,675849018447167488,...,NaN,NaN,NaN,148,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1831,NaN,NaN,2015-12-12 16:02:36,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 675707321759039488, 'id_str'...",1996,False,NaN,675707330206547968,675707330206547968,...,NaN,NaN,NaN,700,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",We've got ourselves a battle here. Watch out R...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1838,NaN,NaN,2015-12-15 02:32:17,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,920,False,NaN,676590572941893632,676590572941893632,...,NaN,NaN,NaN,127,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1860,NaN,NaN,2015-12-10 00:54:28,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674754014320402432, 'id_str'...",1366,False,NaN,674754018082705410,674754018082705408,...,NaN,NaN,NaN,450,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Just received another perfect photo of dogs an...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1874,NaN,NaN,2015-12-10 03:30:58,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 674793390643482624, 'id_str'...",2518,False,NaN,674793399141146624,674793399141146624,...,NaN,NaN,NaN,1090,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I have found another. 13/10 https://t.co/HwroP...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1875,NaN,NaN,2015-12-10 00:08:50,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,490,False,NaN,674742531037511680,674742531037511680,...,NaN,NaN,NaN,51,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1958,NaN,NaN,2015-12-09 15:09:55,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,942,False,NaN,674606911342424069,674606911342424064,...,NaN,NaN,NaN,100,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1973,NaN,NaN,2015-12-07 04:11:02,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,3077,False,NaN,673716320723169284,673716320723169280,...,NaN,NaN,NaN,748,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
1974,NaN,NaN,2015-12-08 20:53:11,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,563,False,NaN,674330906434379776,674330906434379776,...,NaN,NaN,NaN,73,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2011,NaN,NaN,2015-12-01 16:37:44,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 671729900588417024, 'id_str'...",8458,False,NaN,671729906628341761,671729906628341760,...,NaN,NaN,NaN,4330,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",I'm just going to leave this one here as well....,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2028,NaN,NaN,2015-12-01 04:44:10,"{'hashtags': [], 'symbols': [], 'user_mentions...",NaN,907,False,NaN,671550332464455680,671550332464455680,...,NaN,NaN,NaN,207,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."
2082,NaN,NaN,2015-11-25 03:14:30,"{'hashtags': [], 'symbols': [], 'user_mentions...","{'media': [{'id': 669353426984296449, 'id_str'...",638,False,NaN,669353438988365824,669353438988365824,...,NaN,NaN,NaN,263,False,NaN,"<a href=""http://twitter.com/download/iphone"" r...",This is Tessa. She is also very pleased after ...,False,"{'id': 4196983835, 'id_str': '4196983835', 'na..."

In [160]:
detailed_tweets.iloc[21]

contributors                                                               NaN
coordinates                                                                NaN
created_at                                                 2017-07-15 16:51:35
entities                     {'hashtags': [], 'symbols': [], 'user_mentions...
extended_entities                                                          NaN
favorite_count                                                             116
favorited                                                                False
geo                                                                        NaN
id                                                          886267009285017600
id_str                                                      886267009285017600
in_reply_to_screen_name                                            NonWhiteHat
in_reply_to_status_id                                              8.86266e+17
in_reply_to_status_id_str                                          8.86266e+17
in_reply_to_user_id                                                2.28118e+09
in_reply_to_user_id_str                                            2.28118e+09
is_quote_status                                                          False
lang                                                                        en
place                                                                     None
possibly_sensitive                                                         NaN
quoted_status                                                              NaN
quoted_status_id                                                           NaN
quoted_status_id_str                                                       NaN
retweet_count                                                                4
retweeted                                                                False
retweeted_status                                                           NaN
source                       <a href="http://twitter.com/download/iphone" r...
text                         @NonWhiteHat @MayhewMayhem omg hello tanner yo...
truncated                                                                False
user                         {'id': 4196983835, 'id_str': '4196983835', 'na...
Name: 21, dtype: object

### Quality
#### `twitter_archive` table
- 78 non-original tweets which contains in_reply_to_status_id, in_reply_to_user_id
- in_reply_to_status_id is a float, could be an int
- in_reply_to_user_id is a float, could be a string
- timestamp is an object, should be a datetime
- retweeted_status_id is a float, could be a string
- retweeted_status_user_id is a float, could be a string
- retweeted_status_timestamp is an object, should be a datetime
- 181 retweets present in table - contains retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp
- missing records in expanded_urls
- some names have the value None
- some rows have no entries in either of doggo, floofer, pupper, puppo
- ~~some rating_numerators have value 0~~
- ~~some rating_numerators have very large values~~
- ~~some rating_denominators have value 0~~
- ~~some rating_denominators have very large values~~
- some of the animals (with low scores) are not dogs (need to decide how to process these)
- some of the animals (with very high scores) are in fact dogs and valid tweets

#### `image_predictions` table
- record 1647 is that of a dog, but p1 finds it a seat belt
- record 1906 is clearly a dog, but p1/p2/p3 finds it otherwise
- record 1953 is a dog in the bushes, but identification is otherwise

#### `detailed_tweets` table
- contributors has empty values
- coordinates has empty values
- geo has empty values
- place has empty values
- in_reply_to_status_id is a float, could be a string
- quoted_status_id is a float, could be a string

### Tidiness
#### `twitter_archive` table
- Dog 'state' is split into 4 columns - doggo, floofer, pupper, puppo
- `image_predictions` could be combined into `twitter_archive` table
- `detailed_tweets` could be combined into `twitter_archive` table
- contributors is unnecessary column
- coordinates is unnecessary column
- geo is unnecessary column