In [9]:
import pandas as pd

In [10]:
df = pd.read_csv('chicago.csv')

In [11]:
df.describe()

         Unnamed: 0  Trip Duration     Birth Year
count  3.000000e+05  300000.000000  238981.000000
mean   7.763458e+05     936.239290    1980.858223
std    4.481464e+05    1548.792767      11.003329
min    4.000000e+00      60.000000    1899.000000
25%    3.871368e+05     393.000000    1975.000000
50%    7.771035e+05     670.000000    1984.000000
75%    1.164065e+06    1125.000000    1989.000000
max    1.551500e+06   86224.000000    2016.000000

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        300000 non-null object
Gender           238948 non-null object
Birth Year       238981 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [13]:
df.columns

Index(['Unnamed: 0', 'Start Time', 'End Time', 'Trip Duration',
       'Start Station', 'End Station', 'User Type', 'Gender', 'Birth Year'],
      dtype='object')

In [14]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [15]:
df['Trip Duration'].mean()

936.23929

In [16]:
df['Trip Duration'].std()

1548.7927674096338

In [17]:
df['Trip Duration'].describe()

count    300000.000000
mean        936.239290
std        1548.792767
min          60.000000
25%         393.000000
50%         670.000000
75%        1125.000000
max       86224.000000
Name: Trip Duration, dtype: float64

In [25]:
%timeit (df['Trip Duration'] - df['Trip Duration'].mean())

%timeit df['Trip Duration'].mean()
mean_dur = df['Trip Duration'].mean()
%timeit df['Trip Duration'] - mean_dur

1.16 ms ± 1.28 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
414 µs ± 2.43 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
697 µs ± 3.46 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)